@using System.Configuration
<!DOCTYPE html>
<html ng-app="budgetApp">
<head>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>@ViewBag.Title - BudgetApp</title>
   @Styles.Render("~/Content/css")
   @Scripts.Render("~/bundles/modernizr")
   @Scripts.Render("~/bundles/jquery")
   @Scripts.Render("~/bundles/bootstrap")
   @Scripts.Render("~/bundles/bower")
   @Scripts.Render("~/bundles/angular")
   @RenderSection("scripts", required: false)
    <link rel="icon"
          type="image/png"
          href="../../Content/images/favicon.png" />
    </head>
    <body style="@(User.Identity.IsAuthenticated ? "" : "padding-top: 10px;")" ng-controller="searchController" ng-cloak>

        <div class="row" ng-show="hideOnDomReady">

            <div class="spinner">
                <div class="ball"></div>
                <p>LOADING</p>
            </div>
        </div>

        @if (User.Identity.IsAuthenticated)
        {

            <header id="flex-header" ng-controller="toastrController">
                <div id="header-logo">
                    <img src="../../Content/images/header_logo.svg" alt="" height="36" />
                    <img id="logoText" src="../../Content/images/header_logo_text.svg" alt="" height="24" />
                </div>
                
                    @{
                        if (ConfigurationManager.AppSettings["debugmode"] == "true")
                        {
                            <div id="header-debug">
                                <p style="color: #fff;">Debug mode</p>
                            </div>
                        }
                    }
                

                <div id="header-search">
                    <i class="glyphicon glyphicon-search"></i>                    
                    <input placeholder=" Search transactions" ng-model="$parent.searchString" @*style="height:40px;width:280px;background:#fff;border:2px solid #0094FF;padding-left: 10px;"*@ ng-keypress="$parent.keypressed($event)" />                    
                </div>
                <div id="header-profile" ng-click="profileDropdown = !profileDropdown">
                    @if (Request.IsAuthenticated)
                    {
                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            @Html.AntiForgeryToken()

                            <a style="text-align: right;" href="#">
                                @User.Identity.Name
                                <img gravatar-src="'@User.Identity.Name'" gravatar-size="36" style="-ms-border-radius: 104px; border-radius: 104px;" /> <span class="caret"></span>
                            </a>
                            <ul ng-show="profileDropdown" ng-mouseleave="profileDropdown = false">
                                <li>
                                    <a href="@Url.Action("Index", "Manage", null)" title="Profile">
                                        Profile
                                        <i class="glyphicon glyphicon-user" style="float: right"></i>
                                    </a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>

                                    <a href="javascript:document.getElementById('logoutForm').submit()" title="Log off">
                                        Log off
                                        <i class="glyphicon glyphicon-off" style="float: right;color:#cc302d;"></i>
                                    </a>

                                </li>
                            </ul>

                        }
                    }
                </div>
            </header>

            
        }
        <div scroll-position ng-controller="sidebarController">
            
            @if (User.Identity.IsAuthenticated)
            {
                <div class="sidebar {{shrink ? 'shrink':''}}">
                    <ul class="list-unstyled">
                        <li ng-click="toggleShrinkStatus()" title="Toggle sidebar">
                            <i class="glyphicon glyphicon-align-justify"></i>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li class="@(ViewBag.Title == "Add Transaction" ? "active" : "") hidden-lg" onclick="javascript: location.href = '@Url.Action("Create", "Transactions")';" title="Add transaction">
                            <i class="glyphicon glyphicon-plus-sign"></i> <span class="sidebar-text">Add</span>
                        </li>
                        <li class="@(ViewBag.Title == "Upload Transactions" ? "active" : "")" onclick="javascript: location.href = '@Url.Action("Upload", "Transactions")';" title="Upload transactions from excel file">
                            <i class="glyphicon glyphicon-upload"></i> <span class="sidebar-text">Upload</span>
                        </li>
                        <li role="separator" class="divider"></li>
                        @{
                            if (User.IsInRole("Administrators"))
                            {
                                <li class="@(ViewBag.Title == "Admin" ? "active" : "")" onclick=" javascript: location.href = '@Url.Action("Index", "Admin")';" title="Administrator">
                                    <i class="glyphicon glyphicon-star-empty"></i> <span class="sidebar-text">Admin</span>
                                </li>
                            }
                        }

                        <li class="@(ViewBag.Title == "Dashboard" ? "active" : "")" onclick="javascript: location.href = '@Url.Action("Index","Dashboard")';" title="Dashboard">
                            <i class="glyphicon glyphicon-dashboard"></i> <span class="sidebar-text">Dashboard</span>
                        </li>
                        <li class="@(ViewBag.Title == "Download" ? "active" : "")" onclick="javascript: location.href = '@Url.Action("Index","Report")';" title="Download charts and/or excel files">
                            <i class="glyphicon glyphicon-download"></i> <span class="sidebar-text">Download</span>
                        </li>
                        <li class="tiny {{selected === 'charts' ? 'active':''}}" ng-show="@(ViewBag.Title == "Download" ? "true" : "false")" ng-click="go('charts')" title="Download charts">
                            <i class="glyphicon glyphicon-signal"></i><span class="sidebar-text">Charts</span>
                        </li>
                        <li class="tiny {{selected === 'tables' ? 'active':''}}" ng-show="@(ViewBag.Title == "Download" ? "true" : "false")" ng-click="go('tables')" title="Download excel files">
                            <i class="glyphicon glyphicon-th"></i><span class="sidebar-text">Excel</span>
                        </li>
                        <li class="@(ViewBag.Title == "Transactions" ? "active" : "")" onclick="javascript: location.href = '@Url.Action("Index","Transactions")';" title="See all added transactions">
                            <i class="glyphicon glyphicon-transfer"></i> <span class="sidebar-text">Transactions</span>
                        </li>
                        <li class="@(ViewBag.Title == "Mappings" ? "active" : "")" onclick="javascript: location.href = '@Url.Action("Index","Mappings")';" title="Mappings">
                            <i class="glyphicon glyphicon-map-marker"></i> <span class="sidebar-text">Mappings</span>
                        </li>
                        <li class="@(ViewBag.Title == "About" ? "active" : "")" onclick="javascript: location.href = '@Url.Action("About","Home")';" title="About">
                            <i class="glyphicon glyphicon-info-sign"></i> <span class="sidebar-text">About</span>
                        </li>
                        <li onclick="window.open('https://github.com/skarchr/BudgetApp', '_blank')" title="Go to project's github page">
                            <img src="~/Content/images/github.svg" height="20" /><span class="sidebar-text" style="vertical-align: baseline;padding-left:14px;">GitHub</span>
                        </li>
                        
                    </ul>

                </div>

            }
            <div class="@(User.Identity.IsAuthenticated ? "flex-container {{shrink ? 'shrink':'no-shrink'}}" : "")">
                @RenderBody()                
            </div>
            
            <footer class="text-center">

                <div class="row" style="padding:0;">
                    <div class="col-xs-12">
                        <span class="text-muted" style="font-size:12px;">Icons made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></span>
                    </div>
                </div>

            </footer>

            <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="searchModalLabel">
                                Found {{searchStorage.length}} transactions that matches the query
                            </h4>
                        </div>
                        <div class="modal-body" style="padding:5px 0px 0px 0px;">

                            <div ng-show="searching" style="padding-left:5px;">
                                Searching...
                            </div>

                            <div>
                                <table class="table table-condensed table-striped" ng-show="searchResult.length > 0">

                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th class="text-center">Amount</th>
                                            <th class="text-center">Category</th>
                                            <th>Description</th>
                                            <th class="text-center">Date</th>
                                            <th class="text-right"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="trans in searchResult">
                                            <td class="text-center">{{$index + 1}}</td>
                                            <td class="text-right">{{trans.amount | currencyFormatter}}</td>
                                            <td class="text-center">{{trans.categoryText}}</td>
                                            <td>{{trans.description}}</td>
                                            <td class="text-center">{{trans.date | date}}</td>
                                            <td class="text-right">
                                                <a class="link edit-link" href="/Transactions/Edit/{{trans.transactionId}}" title="Edit"><i class="glyphicon glyphicon-pencil"></i></a>
                                                <a class="link delete-link" href="/Transactions/Delete/{{trans.transactionId}}" title="Delete">
                                                    <i class="glyphicon glyphicon-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <button class="btn btn-primary" style="width:100%;" ng-show="(searchStorage.length > searchResult.length) && !searching" ng-click="loadMore()">Load more</button>

                            </div>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <script>
            (function () {
                'use strict';


                angular.module('budgetApp').controller('searchController', ['$scope', '$timeout', '$http', function ($scope, $timeout, $http) {

                    $scope.searchResult = [];
                    $scope.searchStorage = [];
                    $scope.searchString = '';
                    $scope.searching = false;

                    var start = 0;
                    var stop = 50;

                    $scope.searchStorage = [];

                    $scope.keypressed = function (event) {
                        console.log(event.keyCode);
                        
                        if ($scope.searchString.length > 1 && event.keyCode === 13) {

                            $('#searchModal').modal('show');

                            $scope.search();

                        }
                    };

                    $scope.search = function () {
                        $scope.searchResult = [];
                        $scope.searching = true;
                        start = 0;
                        stop = 50;

                        $timeout(function () {

                            $http({
                                method: 'POST',
                                data: { search: $scope.searchString },
                                url: '/Report/SearchTransactions',
                                contentType: 'application/json; charset=utf-8',

                            }).then(function successCallback(response) {

                                $scope.searchStorage = JSON.parse(response.data);

                                $scope.searchResult = $scope.searchStorage.slice(start, stop);

                                $scope.searching = false;
                                $scope.dirty = true;
                                start += 50;
                                stop += 50;

                            }, function errorCallback(response) {
                                console.log('Something went wrong');
                                $scope.searching = false;
                            });

                        }, 500);
                    };

                    $scope.loadMore = function () {
                        $scope.searchResult = $scope.searchResult.concat($scope.searchStorage.slice(start, stop));

                        start += 50;
                        stop += 50;
                    };


                }]);

                angular.module('budgetApp').factory('viewBags', function () {

                    return {
                        messages: {
                            error: '@ViewBag.Error',
                            success: '@ViewBag.Success',
                            info: '@ViewBag.Info',
                            statusMessage: '@ViewBag.StatusMessage'
                        }
                    };

                });

            })();

        </script>

    </body>



</html>
