<!DOCTYPE html>
<html ng-app="budgetApp">
<head>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>@ViewBag.Title - My ASP.NET Application</title>
   @Styles.Render("~/Content/css")
   @Scripts.Render("~/bundles/modernizr")
   @Scripts.Render("~/bundles/jquery")
   @Scripts.Render("~/bundles/bootstrap")
   @Scripts.Render("~/bundles/bower")
   @Scripts.Render("~/bundles/angular")
   @RenderSection("scripts", required: false)
</head>
    <body style="@(User.Identity.IsAuthenticated ? "" : "padding-top: 10px;")">
        
        <div class="row" ng-show="hideOnDomReady">

            <div class="spinner">
                <div class="ball"></div>
                <p>LOADING</p>
            </div>
        </div>

        @if (User.Identity.IsAuthenticated)
        {
            <div class="navbar-fixed-top scroll-top" ng-controller="toastrController" top-nav>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-4">
                            <a href="@Url.Action("Index", "Home")" title="Dashboard">
                                <img src="@Url.Content("~/Content/images/logo.svg")" id="svg1" height="70" />
                                <img src="@Url.Content("~/Content/images/logo_inverted.svg")" height="70" id="svg2" />                                
                            </a>
                        </div>
                        <div class="col-xs-4 text-center" style="padding-top: 18px;">

                            <ul class="list-unstyled list-inline hidden-xs hidden-sm">
                                <li><a href="@Url.Action("Create", "Transactions")" class="btn btn-default btn-nav btn-sm text-center @(ViewBag.Title == "Add Transaction" ? "active":"")" title="Add transaction" style="min-width: 80px;">
                                        <i class="glyphicon glyphicon-plus-sign"></i>
                                    </a></li>
                                <li><a href="@Url.Action("Upload", "Transactions")" class="btn btn-default btn-nav btn-sm text-center @(ViewBag.Title == "Import Transactions" ? "active" : "")" title="Import transactions" style="min-width: 80px;">
                                        <i class="glyphicon glyphicon-import"></i>
                                    </a></li>
                            </ul>

                        </div>
                        <div class="col-xs-4 text-right" style="padding-top: 13px;">
                            @Html.Partial("_LoginPartial")
                        </div>
                    </div>
                </div>
            </div>

        }
        <div class="container body-content" ng-cloak scroll-position>

            @RenderBody()


            <footer data-fade-in="600" class="text-center" style="margin-top:100px; ">
                @{
                    if (!String.IsNullOrEmpty(ViewBag.Link))
                    {
                        <p class="text-danger">
                            For local debug  only: confirmation link: <a href="@ViewBag.Link">link</a>
                        </p>
                    }
                    if (!String.IsNullOrEmpty(ViewBag.Code))
                    {
                        <p class="text-danger">
                            For local debug only: @ViewBag.Code
                        </p>
                    }
                }

                <br />
                <br />
                <div class="row text-center">
                    <div class="col-xs-12 text-muted">Icons made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
                </div>

            </footer>

        </div>
        <script>
            (function () {
                'use strict';

                angular.module('budgetApp').factory('viewBags', function () {

                    return {
                        messages: {
                            error: '@ViewBag.Error',
                            success: '@ViewBag.Success',
                            info: '@ViewBag.Info',
                            statusMessage : '@ViewBag.StatusMessage'
                        }
                    };

                });

            })();

        </script>

    </body>

</html>
