<!DOCTYPE html>
<html ng-app="budgetApp">
<head>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>@ViewBag.Title - My ASP.NET Application</title>
   @Styles.Render("~/Content/css")
   @Scripts.Render("~/bundles/modernizr")
   @Scripts.Render("~/bundles/jquery")
   @Scripts.Render("~/bundles/bootstrap")
   @Scripts.Render("~/bundles/bower")
   @Scripts.Render("~/bundles/angular")
   @RenderSection("scripts", required: false)
</head>
    <body>
        @if (User.Identity.IsAuthenticated)
        {           
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        
                        <a class="navbar-brand @(ViewBag.Title == "Home" ? "active":"")" href="@Url.Action("Index", "Home")" title="Dashboard">
                            <img src="@Url.Content(ViewBag.Title == "Home" ? "~/Content/images/logo_inverted.svg" : "~/Content/images/logo.svg")" id="svg" />
                        </a>
                        
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="@(ViewBag.Title == "Transactions" ? "active":"")">@Html.ActionLink("Transactions", "Index", "Transactions")</li>
                            <li class="@(ViewBag.Title == "Mappings" ? "active":"")" >@Html.ActionLink("Mappings", "Index", "Mappings")</li>
                        </ul>
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </div>
        }
        <div class="container body-content" ng-cloak>
            @RenderBody()
            <footer data-fade-in="600" class="text-center" style="margin-top:100px; ">
                @{
                    if (!String.IsNullOrEmpty(ViewBag.Link))
                    {
                        <p class="text-danger">
                            For local debug  only: confirmation link: <a href="@ViewBag.Link">link</a>
                        </p>
                    }
                    if (!String.IsNullOrEmpty(ViewBag.Code))
                    {
                        <p class="text-danger">
                            For local debug only: @ViewBag.Code
                        </p>
                    }
                }

                <a href="https://github.com/skarchr/BudgetApp" target="_blank">
                    <img src="~/Content/images/github.svg" height="32" />
                </a>                               

            </footer>

        </div>
    </body>
</html>
