@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm", @class = "navbar-right"}))
    {
        @Html.AntiForgeryToken()


        <ul class="list-unstyled">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Toggle menu">                    
                    <svg id="menu" style="height: 65px;margin-top: -10px;margin-left: -65px;position: fixed;z-index: 10000;" version="1.1" id="budgetAppLogo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 901 904" enable-background="new 0 0 373 375" xml:space="preserve">
                        <defs>
                            <style type="text/css">

                                .blue-stroke{
                                    stroke:#0094FF;
                                }

                                #menu > g > .upper, #menu > g > .lower, #menu > g > .middle, #menu > g.cross > line, #menu > .ring > circle {
                                    -webkit-transition: all 0.6s;
                                    -moz-transition: all 0.6s;
                                    -ms-transition: all 0.6s;
                                    -o-transition: all 0.6s;
                                    transition: all 0.6s;
                                }

                                .dropdown > a > #menu:hover > .stripes > rect.upper {
                                    y: 210;
                                }
                                .dropdown > a > #menu:hover > .stripes > rect.lower {
                                    y: 630;
                                }
                                
                                .dropdown.open > a > #menu:hover > .cross > line {
                                    stroke-width: 20 !important;
                                }

                                .dropdown.open > a > svg > g.cross > .line1, .dropdown.open > a > svg > g.cross > .line2 {
                                    stroke-width: 40 !important;
                                    stroke: #0094FF !important;
                                   
                                }
                                
                                .dropdown.open > a > svg > g.ring > circle {
                                     fill: #fff !important;
                                    stroke-width: 23 !important;
                                    stroke: #0094FF;
                                }

                                .dropdown.open > a > svg > g.stripes > rect.upper {
                                    y: 1000 !important;
                                    fill: #fff;
                                }

                                .dropdown.open > a > svg > g.stripes > rect.lower {
                                    y: 2400 !important;
                                    fill: #fff;
                                }

                                .dropdown.open > a > svg > g.stripes > rect.middle {
                                    y: 1600 !important;
                                    fill: #fff;
                                }

                                .dropdown.open > a > svg > g.cross > line {
                                    display: inline-block;
                                }

                                

                            </style>
                        </defs>
                        <g class="ring">
                            <circle fill="#0094ff" stroke-width="91" stroke-miterlimit="10" cx="451.3" cy="451.7" r="402.3" />                        
                        </g>
                        
                        <g class="stripes">
                            <rect class="upper" fill="#fff" x="230.3" y="270.7" width="450" height="80" />
                            <rect class="middle" fill="#fff" x="230.3" y="420.7" width="450" height="80" />
                            <rect class="lower" fill="#fff" x="230.3" y="570.7" width="450" height="80" />
                        </g>                   
                        <g class="cross">
                        <line class="line1" x1="230.3" y1="230.7" x2="680.3" y2="670.7" style="stroke: #ffffff; stroke-width: 0" />
                        <line class="line2" x1="230.3" y1="670.7" x2="680.3" y2="230.7" style="stroke: #ffffff; stroke-width: 0" />
                        </g>
                    </svg>

                </a>
                <ul class="dropdown-menu text-left">
                    <li class="visible-xs visible-sm"><a href="@Url.Action("Create", "Transactions")" title="Add transaction">Add</a></li>
                    <li class="visible-sm"><a href="@Url.Action("Upload", "Transactions")" title="Import transactions">Import</a></li>
                    <li role="separator" class="divider visible-xs visible-sm"></li>
                    @{
                        if (User.IsInRole("Administrators"))
                        {
                            <li class="@(ViewBag.Title == "Admin" ? "active" : "")">@Html.ActionLink("Admin", "Index", "Admin")</li>
                        }
                    } 
                    <li class="@(ViewBag.Title == "Dashboard" ? "active" : "")">@Html.ActionLink("Dashboard", "Index", "Home")</li>                                       
                    <li class="@(ViewBag.Title == "Transactions" ? "active" : "")">@Html.ActionLink("Transactions", "Index", "Transactions")</li>
                    <li class="@(ViewBag.Title == "Mappings" ? "active" : "")">@Html.ActionLink("Mappings", "Index", "Mappings")</li>
                    <li class="@(ViewBag.Title == "Manage" ? "active" : "")">
                        <a href="@Url.Action("Index", "Manage", null)" title="Profile">
                            Profile
                        </a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a href="javascript:document.getElementById('logoutForm').submit()" title="Log off">
                            Log off
                        </a>
                    </li>
                </ul>
            </li>
        </ul>

    }
}