@using BudgetApp.Extensions
@model BudgetApp.Models.Mapping

@{
    ViewBag.Title = "Mappings";
}

<div style="margin-top:30px;" ng-controller="addMappingController">
    <div class="col-md-12 text-center">
        

        <div id="icon" data-logo="18" style="width:18%; min-width: 220px;min-height:50px;">
            
            <img class="mapping-image" src="/Content/images/currency.png" alt="transaction" title="Transaction" />
            
            <img src="/Content/images/square131.png" style="opacity: 0.1; margin-right: -5px; margin-left: -5px;" />

            <img class="mapping-image" ng-src="{{getIcon(model.category)}}" alt="mapping" title="{{model.category}}" />
        </div>
    </div>
    <h3 class="text-center">Add mapping</h3>

    <div class="row" style="margin-top: 40px;">
        @using (Html.BeginForm("Create", "Mappings", FormMethod.Post, new { name = "addForm" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">


                <div class="col-md-offset-3 col-md-9">

                    <div class="form-group">
                        <label for="Category" class="control-label col-sm-3">Category <span class="required-tag"></span></label>
                        <div class="col-sm-9 form-inline" style="padding-top:4px;">

                            @Html.DropDownGroupListFor(model => model.Category, Dropdownlist.GroupedCategories(Model != null ? Model.Category.ToString() : ""), " ", new { @class = "form-control", @required = "required", @ng_model = "model.category" })

                            <label class="text-danger" ng-show="addForm.Category.$invalid && addForm.Category.$dirty">Required</label>
                            <label class="text-success" ng-show="addForm.Category.$valid && addForm.Category.$touched">OK!</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Description" class="control-label col-sm-3">Description <span class="required-tag"></span></label>
                        <div class="col-sm-9 form-inline" style="padding-top:4px;">

                            @Html.TextAreaFor(model => model.TextDescription, new { @class = "form-control", @required = "required", @ng_model = "model.textDescription" })

                            <label class="text-danger" ng-show="addForm.TextDescription.$invalid && addForm.TextDescription.$touched">Required</label>
                            <label class="text-success" ng-show="addForm.TextDescription.$valid && addForm.TextDescription.$touched">OK!</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3"></label>
                        <div class="col-sm-9 form-inline" style="padding-top:4px;">
                            <input type="submit" value="Create mapping" class="btn btn-primary {{addForm.$valid ? 'tada':''}}" ng-disabled="addForm.$invalid" style="width:280px;" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3"></label>
                        <div class="col-sm-9 form-inline" style="padding-top:4px;">
                            @Html.ActionLink("Cancel", "Index", "Mappings", null, new { @class = "btn btn-default", @style = "width:280px;" })
                        </div>
                    </div>

                </div>

            </div>
        }

    </div>
</div>

<script>
    (function() {
        'use strict';

        angular.module('budgetApp').factory('addMappingModel', function() {

            return {
                model: @Html.Raw(Model.ToJson())
            };

        });

    })();
</script>