@using BudgetApp.Extensions
@model BudgetApp.Models.Mapping

@{
    ViewBag.Title = "Mappings";
}

<div style="margin-top:30px;" ng-controller="editMappingController">
    <div class="col-md-12 text-center">

        <div id="icon" data-logo="18" style="width:18%; min-width: 220px;min-height:50px;">

            <img class="mapping-image" src="/Content/images/currency.png" alt="transaction" title="Transaction" />

            <img src="/Content/images/square131.png" style="opacity: 0.1; margin-right: -5px; margin-left: -5px;" />

            <img class="mapping-image" ng-src="{{getIcon(model.category)}}" alt="mapping" title="{{model.category}}" />
        </div>
    </div>

    <h3 class="text-center">Edit mapping</h3>

    <div class="row" style="margin-top: 40px;">
        @using (Html.BeginForm("Edit", "Mappings", FormMethod.Post, new { name = "addForm" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.MappingId)
            @Html.HiddenFor(model => model.UserName)
            @Html.HiddenFor(model => model.Created)

            <div class="col-xs-12">

                <div class="row form-member">
                    <div class="col-xs-12 member-label">
                        <span>Category</span>
                    </div>
                    <div class="col-xs-10 member-control">
                        @Html.DropDownGroupListFor(model => model.Category, Dropdownlist.GroupedCategories(Model != null ? Model.Category.ToString() : ""), " ", new { @class = "form-control", @required = "required", @ng_model = "model.category" })
                    </div>
                    <div class="col-xs-2">
                        <label style="padding-top:6px;" class="control-label col-xs-12 label-validator text-danger" ng-show="addForm.Category.$invalid && addForm.Category.$dirty"></label>
                        <label style="padding-top:6px;" class="control-label col-xs-12 label-validator text-success" ng-show="addForm.Category.$valid"></label>
                    </div>
                </div>

                <div class="row form-member">
                    <div class="col-xs-12 member-label">
                        <span>Description</span>
                    </div>
                    <div class="col-xs-10 member-control">
                        @Html.TextAreaFor(model => model.TextDescription, new { @class = "form-control", @required = "required", @ng_model = "model.textDescription" })
                    </div>
                    <div class="col-xs-2">
                        <label style="padding-top:6px;" class="control-label col-xs-12 label-validator text-danger" ng-show="addForm.TextDescription.$invalid && addForm.TextDescription.$touched"></label>
                        <label style="padding-top:6px;" class="control-label col-xs-12 label-validator text-success" ng-show="addForm.TextDescription.$valid"></label>
                    </div>
                </div>


                <div class="row form-member">
                    <div class="col-xs-12">
                        <input type="submit" value="Edit" class="btn btn-primary" ng-disabled="addForm.$invalid" />
                        @Html.ActionLink("Cancel", "Index", "Mappings", null, new { @clas = "btn btn-link" })
                    </div>
                </div>
            </div>
        }

    </div>
</div>

<script>
    (function() {
        'use strict';

        angular.module('budgetApp').factory('editMappingModel', function() {

            return {
                model: @Html.Raw(Model.ToJson())
            };

        });

    })();
</script>