@using BudgetApp.Extensions
@using BudgetApp.Models
@model BudgetApp.Models.HomeViewModel
@{
    ViewBag.Title = "Dashboard";
}

<div class="row" ng-controller="homeController">



    @if (Model.Transactions.Count == 0)
    {

        <div class="jumbotron text-center" fade-in="500" style="margin-top:-40px;background-color:white;">

            <h1>Welcome to BudgetApp!</h1>
            <br />
            <p style="font-size: 18px;">
                This is the dashboard page.
                <br /><br />
                Here you will see graphical charts based on the transactions you have added.
            </p>
            <br />
            <div class="row">
                <img class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6" src="../../Content/images/screenshots/dashboard.PNG" alt="" style="border:2px solid #0094ff;" />
            </div>

            <p class="col-xs-12">Here's an example of how this page might look like.</p>

        </div>

    }
    else
    {       
        
        <div class="row">
            
            <div class="col-xs-12 text-right">
                <a style="margin-right: 10px;" href="@Url.Action("DownloadCurrentYear", "Home")" title="Download an excel file containing all transactions from @DateTime.Now.Year">
                    <i class=" glyphicon glyphicon-download"></i> Download excel file
                </a>
            </div>

        </div>
        
        <div class="row">            
                        
            <div class="col-xs-12 col-lg-6 text-center">

                <span style="height:300px;width:565px !important;" class="visible-lg visible-sm" data-treemap-chart="{{model.treemapChartYTD}}"></span>
                <span style="height:300px;width:923px !important;" class="visible-md" data-treemap-chart="{{model.treemapChartYTD}}"></span>
                <span style="height:400px;width:390px !important;" class="hidden-sm hidden-md hidden-lg" data-treemap-chart="{{model.treemapChartYTD}}"></span>
            </div>

            <div class="col-xs-12 col-lg-6 text-center">

                <span style="height:300px;width:565px !important;" class="visible-lg visible-sm" data-burn-rate="{{model.burnRateChart}}"></span>

                <span style="height:300px;width:923px !important;" class="visible-md" data-burn-rate="{{model.burnRateChart}}"></span>

                <span style="height:300px;width:390px !important;" class="hidden-sm hidden-md hidden-lg" data-burn-rate="{{model.burnRateChart}}"></span>

            </div>

        </div>

        <div class="row">
            
            <div class="col-xs-12 col-lg-6 text-center">
                
                <div style="position: absolute;margin-top: 8px;margin-left: 10px;z-index: 100">
                    @Html.ActionLink("M", "ChangeRange", "Home", new { range = ChartRange.Monthly }, new { @class="btn btn-default btn-xs " +(Model.ChartRange == ChartRange.Monthly ? "active":""), @title="Monthly" })
                    @Html.ActionLink("W", "ChangeRange", "Home", new { range = ChartRange.Weekly }, new { @class = "btn btn-default btn-xs " + (Model.ChartRange == ChartRange.Weekly ? "active" : ""), @title = "Weekly" })
                    @Html.ActionLink("D", "ChangeRange", "Home", new { range = ChartRange.Daily }, new { @class = "btn btn-default btn-xs " + (Model.ChartRange == ChartRange.Daily ? "active" : ""), @title = "Daily" })
                </div>

                <span style="height:300px;width:565px !important;" class="visible-lg visible-sm" data-legend="false" data-prog-highchart="{{model.scpExpensesChart}}"></span>

                <span style="height:300px;width:923px !important;" class="visible-md" data-legend="false" data-prog-highchart="{{model.scpExpensesChart}}"></span>

                <span style="height:300px;width:390px !important;" class="hidden-sm hidden-md hidden-lg" data-legend="false" data-prog-highchart="{{model.scpExpensesChart}}"></span>
                
                
            </div>

            <div class="col-xs-12 col-lg-6">

                <span style="height:300px;width:565px !important;" class="visible-lg visible-sm" data-prog-highchart="{{model.prognosisChart}}"></span>

                <span style="height:300px;width:923px !important;" class="visible-md" data-prog-highchart="{{model.prognosisChart}}"></span>

                <span style="height:300px;width:390px !important;" class="hidden-sm hidden-md hidden-lg" data-prog-highchart="{{model.prognosisChart}}"></span>

            </div>

        </div>

        <div class="row">
            
            
            <div class="col-xs-12 col-lg-6 text-center">

                <span style="height:300px;width:565px !important;" class="visible-lg visible-sm" data-highchart="{{model.drilldownGraphYtd}}"></span>

                <span style="height:300px;width:923px !important;" class="visible-md" data-highchart="{{model.drilldownGraphYtd}}"></span>

                <span style="height:300px;width:390px !important;" class="hidden-sm hidden-md hidden-lg" data-highchart="{{model.drilldownGraphYtd}}"></span>

            </div>
            
            <div class="col-xs-12 col-lg-6">

                <span style="height:300px;width:565px !important;" class="visible-lg visible-sm" data-prog-highchart="{{model.prognosisIncomeChart}}"></span>

                <span style="height:300px;width:923px !important;" class="visible-md" data-prog-highchart="{{model.prognosisIncomeChart}}"></span>

                <span style="height:300px;width:390px !important;" class="hidden-sm hidden-md hidden-lg" data-prog-highchart="{{model.prognosisIncomeChart}}"></span>

            </div>

        </div>

    }


</div>

<script>
    (function() {
        'use strict';

        angular.module('budgetApp').factory('homeViewModel', function() {

            return {
                model:@Html.Raw(Model.ToJson())
            };

        });

    })();
</script>