@using BudgetApp.Extensions
@model BudgetApp.Models.HomeViewModel
@{
    ViewBag.Title = "Home";
}

<div class="row" ng-controller="homeController" style="margin-top:30px;">
   
    <div class="col-xs-12">
        <h3>SVG test</h3>
        
        <svg height="80" width="280">
            
            <defs>
                <style>
                    
                    .gauge-whole-numb > g > text {
                        fill: #313131;
                        font-size: 13px;
                    }

                    .gauge-whole-numb > g > line, .gauge-half-numb > line {
                        stroke-width: 1;
                        stroke:#000;
                    }

                    rect.gauge-goal:hover {
                        fill: #e73131 !important;
                    }

                </style>
            </defs>

            <g class="gauge-container">                
                <rect class="gauge-goal" x="247" height="50" width="280" style="fill:#e87c7c;stroke:#e73131;" />                            <!-- Must figure out 247 out from value 715  -->
                <rect height="50" width="280" style="stroke-width: 1px;stroke:#000;fill:none;" />
                <polygon points="130,50 150,50 140,30" style="stroke-width:1px;stroke:#000;fill:#fff" />
                <text text-anchor="middle" x="140" y="70">715</text>
            </g>

            <g class="gauge-numb">

                <g class="gauge-whole-numb">
                    
                    <g>
                        <line x1="-75" y1="0" x2="-75" y2="17" />
                        <text text-anchor="middle" x="-75" y="28">500</text>
                    </g>

                    <g>
                        <line x1="25" y1="0" x2="25" y2="17" />
                        <text text-anchor="middle" x="25" y="28">600</text>
                    </g>

                    <g>
                        <line x1="125" y1="0" x2="125" y2="17" />                                           <!-- Must figure out 125 out from value 715 -->
                        <text text-anchor="middle" x="125" y="28">700</text>
                    </g>

                    <g>
                        <line x1="225" y1="0" x2="225" y2="17" />
                        <text text-anchor="middle" x="225" y="28">800</text>
                    </g>
                    
                    <g>
                        <line x1="325" y1="0" x2="325" y2="17" />
                        <text text-anchor="middle" x="325" y="28">900</text>
                    </g>

                </g>
                <g class="gauge-half-numb">                  
                    
                    <line x1="-25" y1="0" x2="-25" y2="8.5" />                                                  <!-- (n - 200) -->

                    <line x1="75" y1="0" x2="75" y2="8.5" />                                                    <!-- (n - 100) -->

                    <line x1="175" y1="0" x2="175" y2="8.5" />                                                  <!-- Must figure out 175 from value 715 -->

                    <line x1="275" y1="0" x2="275" y2="8.5" />                                                  <!-- (n + 100) -->
                    
                    <line x1="375" y1="0" x2="375" y2="8.5" />                                                  <!-- (n + 200) -->

                </g>
            </g>

        </svg>

    </div>
    

    @if (Model.Transactions.Count == 0)
    {

        <div class="jumbotron" fade-in="100" style="margin-top:-20px;">

            <div id="icon" style="width: 30%;">
                <object>
                    <img src="~/Content/images/logo_pig.svg" id="svg" />
                </object>
            </div>

            <h1 class="hidden-xs hidden-sm text-center" style="margin-top: -40px;">You have no transactions registered</h1>
            <h2 class="visible-xs visible-sm text-center">You have no transactions registered</h2>

            <div class="row">
                <div class="col-xs-12 col-md-6 text-center">
                    <button class="btn btn-primary btn-xlg" onclick=" location.href='@Url.Action("Create", "Transactions")' ">
                        Add transaction
                    </button>

                </div>
                <div class="col-xs-12 col-md-6 text-center">
                    <button class="btn btn-primary btn-xlg" onclick=" location.href='@Url.Action("Upload", "Transactions")' ">
                        Import transactions
                    </button>
                </div>
            </div>

        </div>

    }
    else
    {

        <div role="tabpanel" class="col-xs-12">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs hidden-xs" role="tablist" style="margin-bottom: 40px;">
                <li role="presentation" class="active"><a href="#expense" aria-controls="expense" role="tab" data-toggle="tab" title="Shows an overview for all your registered transactions">All transactions</a></li>
                <li role="presentation"><a href="#income" aria-controls="income" role="tab" data-toggle="tab" reflow-charts title="Shows an overview for the transactions during the year @DateTime.Now.Year">Current year</a></li>

                <li class="pull-right" role="presentation"><a href="#prediction" aria-controls="prediction" role="tab" data-toggle="tab">Prognosis</a></li>
                <li ng-show="model.savingGoal" class="pull-right" role="presentation">
                    <a href="#saving" aria-controls="saving" role="tab" data-toggle="tab">
                        Savings
                    </a>
                </li>
            </ul>
            
            <ul class="nav nav-stacked nav-pills visible-xs" role="tablist" style="margin-bottom: 40px;margin-top: -40px;">
                <li role="presentation" class="active"><a href="#expense" aria-controls="expense" role="tab" data-toggle="tab" title="Shows an overview for all your registered transactions">All transactions</a></li>
                <li role="presentation"><a href="#income" aria-controls="income" role="tab" data-toggle="tab" reflow-charts title="Shows an overview for the transactions during the year @DateTime.Now.Year">Current year</a></li>                
                <li ng-show="model.savingGoal" role="presentation">
                    <a href="#saving" aria-controls="saving" role="tab" data-toggle="tab">
                        Savings
                    </a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="expense">

                    <div class="col-xs-12">
                        
                        <div class="row visible-xs">
                            <div class="col-xs-12">
                                
                                <div class="col-xs-5 text-right text-muted" style="font-size:18px;">Income</div>
                                <div class="col-xs-7" style="font-size:18px;">{{ model.totalIncome | currencyFormatter}} {{model.currency}}</div>
                            </div>
                        </div>
                        
                        <div class="row visible-xs" style="margin-bottom: 40px;">
                            <div class="col-xs-12">

                                <div class="col-xs-5 text-right text-muted" style="font-size:18px;">Expenses</div>
                                <div class="col-xs-7" style="font-size:18px;">{{ model.totalExpenses | currencyFormatter}} {{model.currency}}</div>
                            </div>
                        </div>

                        <div class="row" style="margin-top: 10px;">

                            <div class="col-xs-12">                                
                                <div class="col-xs-12 col-sm-6 col-md-3" style="padding:0">
                                    <div style="height: 200px;" data-vu-meter="@Model.AverageDailyExpenses" data-goal="@((Model.ExpensesGoal * 12) / 365)" data-currency="@Model.Currency" data-chart-title="Daily expenses"></div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3" style="padding:0">
                                    <div style="height: 200px;" data-vu-meter="@Model.AverageMonthlyExpenses" data-goal="@((Model.ExpensesGoal))" data-currency="@Model.Currency" data-chart-title="Monthly expenses"></div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3" style="padding:0">
                                    <div style="height: 200px;" data-vu-meter="@Model.AverageDailyIncome" data-goal="@(Model.AverageDailyExpenses) / 365)" data-currency="@Model.Currency" data-chart-title="Daily income" data-inverted="true"></div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3" style="padding:0">
                                    <div style="height: 200px;" data-vu-meter="@Model.AverageMonthlyIncome" data-goal="@((Model.AverageMonthlyExpenses))" data-currency="@Model.Currency" data-chart-title="Monthly income" data-inverted="true"></div>
                                </div>
                            </div>
                            
                        </div>
                        

                        <div class="row" style="margin-top: 20px;">


                            <div class="col-xs-12">

                                <span style="height:500px;width:1123px !important;" class="visible-lg" data-highchart="{{model.drilldownGraphTot}}"></span>

                                <span style="height:500px;width:923px !important;" class="visible-md" data-highchart="{{model.drilldownGraphTot}}"></span>

                                <span style="height:500px;width:703px !important;" class="visible-sm" data-highchart="{{model.drilldownGraphTot}}"></span>

                            </div>

                        </div>

                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="income">
                    <div class="col-xs-12">
                        
                        <div class="row visible-xs">
                            <div class="col-xs-12">

                                <div class="col-xs-5 text-right text-muted" style="font-size:18px;">Income</div>
                                <div class="col-xs-7" style="font-size:18px;">{{ model.ytdIncome | currencyFormatter}} {{model.currency}}</div>
                            </div>
                        </div>

                        <div class="row visible-xs" style="margin-bottom: 40px;">
                            <div class="col-xs-12">

                                <div class="col-xs-5 text-right text-muted" style="font-size:18px;">Expenses</div>
                                <div class="col-xs-7" style="font-size:18px;">{{ model.ytdExpenses | currencyFormatter}} {{model.currency}}</div>
                            </div>
                        </div>

                        <div class="row" style="margin-top: 10px;">

                            <div class="col-xs-12">
                                <div class="col-xs-12 col-sm-6 col-md-3" style="padding:0">
                                    <div style="height: 200px;" data-vu-meter="@Model.CurrentMonthExpenses" data-goal="@((Model.ExpensesGoal))" data-currency="@Model.Currency" data-chart-title="Expenses for @(DateHelper.GetMonthText(DateTime.Now))"></div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3" style="padding:0">
                                    <div style="height: 200px;" data-vu-meter="@Model.YtdExpenses" data-goal="@(Model.ExpensesGoal *  DateTime.Now.Month)" data-currency="@Model.Currency" data-chart-title="Expenses for @(DateTime.Now.Year)"></div>
                                </div>
                                
                                <div class="col-xs-12 col-sm-6 col-md-3" style="padding:0">
                                    <div style="height: 200px;" data-vu-meter="@Model.YtdIncome" data-goal="@(Model.YtdExpenses)" data-currency="@Model.Currency" data-chart-title="Income for @(DateTime.Now.Year)" data-inverted="true"></div>
                                </div>

                            </div>

                        </div>
                        
                        <div class="row" style="margin-top: 20px;">


                            <div class="col-xs-12">

                                <span style="height:500px;width:1123px !important;" class="visible-lg" data-highchart="{{model.drilldownGraphYtd}}"></span>

                                <span style="height:500px;width:923px !important;" class="visible-md" data-highchart="{{model.drilldownGraphYtd}}"></span>

                                <span style="height:500px;width:703px !important;" class="visible-sm" data-highchart="{{model.drilldownGraphYtd}}"></span>

                            </div>

                        </div>

                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="saving">                   
                    
                    <div class="col-xs-12 text-center">
                        
                        <svg xmlns="http://www.w3.org/2000/svg" width="80px" height="70px" viewBox="0 0 300 275" version="1.1">

                            <g>
                                <polygon fill="#F0F088" stroke="#000000" stroke-width="2" points="150,25  179,111 269,111 197,165 223,251 150,200 77,251  103,165 31,111 121,111" />

                                <text x="150" y="168" text-anchor="middle" font-size="55px">{{starCountPos}}</text>
                            </g>
                        </svg>
                        
                        
                        <svg xmlns="http://www.w3.org/2000/svg" width="80px" height="70px" viewBox="0 0 300 275" version="1.1">

                            <g>
                                <polygon fill="#E87C7C" stroke="#000000" stroke-width="2" points="150,25  179,111 269,111 197,165 223,251 150,200 77,251  103,165 31,111 121,111" />

                                <text x="150" y="168" text-anchor="middle" font-size="55px">{{starCountNeg}}</text>
                            </g>
                        </svg>

                    </div>

                    <div class="col-xs-12" ng-repeat="goal in model.savingGoals">

                        <h3>{{goal.date | date : 'MMM, yyyy'}} <i ng-show="model.savingGoal <= goal.saved" style="color:#F0F088;" class="glyphicon glyphicon-star"></i> </h3>

                        <div class="progress">
                            <div class="progress-bar {{goal.saved >= model.savingGoal ? 'progress-bar-success':''}}" role="progressbar" aria-valuenow="goal.saved" aria-valuemin="0" aria-valuemax="100" style="width:{{ goal.percentage }}%">                               
                            </div>
                        </div>
                        <div class="text-center">
                            {{goal.saved | currencyFormatter}}/{{model.savingGoal | currencyFormatter}} {{model.currency}}
                        </div>

                    </div>

                </div>
                <div role="tabpanel" class="tab-pane" id="prediction">
                    <div class="col-xs-12">
                        
                        <div class="row" style="margin-top: 20px;">


                            <div class="col-xs-12">

                                <span style="height:400px;width:1123px !important;" class="visible-lg" data-prog-highchart="{{model.prognosisChart}}"></span>

                                <span style="height:400px;width:923px !important;" class="visible-md" data-prog-highchart="{{model.prognosisChart}}"></span>

                                <span style="height:400px;width:703px !important;" class="visible-sm" data-prog-highchart="{{model.prognosisChart}}"></span>

                            </div>
                            
                            <div class="col-xs-12">

                                <span style="height:400px;width:1123px !important;" class="visible-lg" data-legend="false" data-prog-highchart="{{model.scpExpensesChart}}"></span>

                                <span style="height:400px;width:923px !important;" class="visible-md" data-legend="false" data-prog-highchart="{{model.scpExpensesChart}}"></span>

                                <span style="height:400px;width:703px !important;" class="visible-sm" data-legend="false" data-prog-highchart="{{model.scpExpensesChart}}"></span>

                            </div>

                        </div>
                        
                        <div class="row" style="margin-top: 20px;">


                            <div class="col-xs-12">

                                <span style="height:400px;width:1123px !important;" class="visible-lg" data-prog-highchart="{{model.prognosisIncomeChart}}"></span>

                                <span style="height:400px;width:923px !important;" class="visible-md" data-prog-highchart="{{model.prognosisIncomeChart}}"></span>

                                <span style="height:400px;width:703px !important;" class="visible-sm" data-prog-highchart="{{model.prognosisIncomeChart}}"></span>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <hr />
        </div>
    }
    

</div>

<script>
    (function() {
        'use strict';

        angular.module('budgetApp').factory('homeViewModel', function() {

            return {
                model:@Html.Raw(Model.ToJson())
            };

        });

    })();

</script>