@using BudgetApp.Extensions
@using BudgetApp.Models
@model ImportViewModel


@{
    ViewBag.Title = "Upload Transactions";
}

<div ng-controller="importController">

    <div class="row">
        <div class="col-xs-12">

            @using (Html.BeginForm("Action", "Transactions", FormMethod.Post, new { @name="importForm" }))
            {
                                
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th class="text-center">Date</th>
                            <th class="text-center" style="width: 500px;">Description</th>
                            <th></th>
                            <th class="text-center" style="width: 80px;">Amount</th>
                            <th class="text-center">Category</th>
                            <th class="text-center">Import</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        @for (var i = 0; i < Model.Transactions.Count; i++)
                        {

                            <tr class="{{model[@i].import ? '':'not-included'}}">
                                <td class="text-center" style="padding-top:12px;">@(i + 1)</td>
                                <td style="padding-top:12px;" class="text-center">@Html.HiddenFor(m => Model.Transactions[i].Date, new { @ng_required = "model[" + i + "].import", @ng_model = "model[" + i + "].date" }) @Model.Transactions[i].Date.ToString("dd.MM.yyyy")</td>
                                <td class="text-center">
                                    @Html.TextBoxFor(m => Model.Transactions[i].Description, new { @class = "form-control", @style = "max-width:100%;width:100%", @ng_required="req ? model[" + i + "].import : false", @ng_model = "model[" + i + "].description" })
                                </td>
                                <td style="padding-top: 11px;">
                                    <span title="Add mapping" class="btn btn-primary btn-xs" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#myModal" ng-click="mapping.textDescription = '@Model.Transactions[i].Description'; mapping.category = null; req = false;">
                                        M
                                    </span>
                                </td>
                                <td class="text-center">@Html.TextBoxFor(m => Model.Transactions[i].Amount, new { @class = "form-control", @style = "max-width:100%;width:100%", @ng_required = "req ? model[" + i + "].import : false", @ng_pattern = "regexDouble" })</td>
                                <td class="text-center">
                                    @Html.DropDownGroupListFor(model => model.Transactions[i].Category, Dropdownlist.GroupedCategories(Model != null ? Model.Transactions[i].Category.ToString() : ""), " ", new { @class = "form-control", @ng_required = "req ? model[" + i + "].import : false", @ng_model = "model[" + i + "].category", @style = "max-width:100%;width:100%", })
                                </td>
                                <td class="text-center">



                                    @Html.CheckBoxFor(m => Model.Transactions[i].Import, new { @class = "import-checkbox", @type = "checkbox", @ng_model = "model[" + i + "].import" })

                                    @Html.HiddenFor(m => Model.Transactions[i].Created)
                                    @Html.HiddenFor(m => Model.Transactions[i].UserName)
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>

                <div class="col-xs-12 text-center">
                    <input type="submit" name="import" style="width: 280px;" value="Save transactions" class="btn btn-primary {{importForm.$valid && req ? 'tada':''}}" ng-disabled="importForm.$invalid" />                    
                </div>
                


                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button ng-click="req = true;" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Add mapping</h4>
                            </div>
                            <div class="modal-body">

                                @Html.AntiForgeryToken()
                                
                                <div class="form-horizontal">
                                    
                                    <div class="form-group">
                                        <label for="Category" class="control-label col-sm-3">Category <span class="required-tag"></span></label>
                                        <div class="col-sm-9 form-inline" style="padding-top:4px;">

                                            @Html.DropDownGroupListFor(model => model.Mapping.Category, Dropdownlist.GroupedCategories(""), " ", new { @class = "form-control", @ng_model = "mapping.category" })

                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="Description" class="control-label col-sm-3">Description <span class="required-tag"></span></label>
                                        <div class="col-sm-9 form-inline" style="padding-top:4px;">

                                           @Html.TextAreaFor(model => model.Mapping.TextDescription, new { @ng_model = "mapping.textDescription", @class = "form-control" })

                                        </div>
                                    </div>

                                </div>                             

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="req = true;">Close</button>
                                <input type="submit" value="Save mapping" name="inlineMapping" class="btn btn-primary" ng-disabled="!mapping.category || !mapping.textDescription" />
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</div>



<script>
    (function() {
        'use strict';


        angular.module('budgetApp').factory('importModel', function() {
            return {
                model: @Html.Raw(Model.Transactions.ToJson()),
                mapping : @Html.Raw(Model.Mapping.ToJson())
            };
        });


    })();

</script>