@using BudgetApp.Extensions
@using BudgetApp.Models
@model List<RangeViewer>

@{
    ViewBag.Title = "Transactions";
}



<div style="margin-top: 60px;" ng-controller="transactionController">

    @if (!Model.Any())
    {

        <div class="jumbotron" fade-in="100">

            <div id="icon" style="width: 30%;">
                <object>
                    <img src="~/Content/images/logo_pig.svg" id="svg" />
                </object>
            </div>

            <h1 class="hidden-xs hidden-sm text-center" style="margin-top: -40px;">You have no transactions registered</h1>
            <h2 class="visible-xs visible-sm text-center">You have no transactions registered</h2>

            <div class="row">
                <div class="col-xs-12 col-md-6 text-center">
                    <button class="btn btn-primary btn-xlg" onclick="location.href = '@Url.Action("Create", "Transactions")' ">
                        Add transaction
                    </button>

                </div>
                <div class="col-xs-12 col-md-6 text-center">
                    <button class="btn btn-primary btn-xlg" onclick="location.href = '@Url.Action("Upload", "Transactions")' ">
                        Import transactions
                    </button>
                </div>
            </div>

        </div>


    }
    else
    {
        <div fade-in="200">

            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <a href="@Url.Action("Create")" class="btn btn-default" title="Add transaction">
                        <i class="glyphicon glyphicon-plus-sign"></i>
                    </a>
                    <a href="@Url.Action("Upload")" class="btn btn-default" title="Import transactions">
                        <i class="glyphicon glyphicon-import"></i>
                    </a>

                </div>

                <div class="col-xs-12 col-md-4">

                </div>

                <div class="col-xs-12 col-md-4 text-right">
                    <a href="@Url.Action("Index", "Transactions", new { range = Range.Annual })" class="btn btn-default  @(Model[0].Range == Range.Annual ? "active" : "")" title="Annual">
                        Annual
                    </a>
                    <a href="@Url.Action("Index", "Transactions", new { range = Range.Month })" class="btn btn-default  @(Model[0].Range == Range.Month ? "active" : "")" title="Monthly">
                        Monthly
                    </a>
                    <a href="@Url.Action("Index", "Transactions", new { range = Range.Week })" class="btn btn-default  @(Model[0].Range == Range.Week ? "active" : "")" title="Weekly">
                        Weekly
                    </a>
                </div>

            </div>

            <div class="row" style="margin-top: 30px;">

                <div class="col-xs-12" ng-repeat="range in model">


                    <div class="panel panel-default">

                        <div class="panel-body">

                            <div class="row">

                                <div class="col-xs-4">
                                    <span class="label label-primary label-big">
                                        {{range.Title @(Model[0].Range == Range.Month ? "| monthName" : "") }}
                                    </span>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <span class="text-muted">
                                        {{range.StartDate | date : 'dd.MM.yyyy'}} - {{range.EndDate | date: 'dd.MM.yyyy'}}
                                    </span>
                                </div>

                                <div class="col-xs-4 text-right">
                                    <span class="toggle-transactions" ng-click="range.$index = !range.$index">
                                        <i class="glyphicon glyphicon-zoom-in" ng-hide="range.$index"></i>
                                        <i class="glyphicon glyphicon-zoom-out" ng-show="range.$index"></i>
                                        {{range.Transactions.length}}
                                    </span>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-xs-12 placeholder">
                                    <div id="icon" style="width: 30%;">
                                        <object>
                                            <img src="~/Content/images/logo_pig.svg" id="svg" />
                                        </object>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <table class="table table-condensed table-same-width" ng-show="range.$index">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Amount</th>
                                    <th>Category</th>
                                    <th>Date</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in range.Transactions">
                                    <td>{{$index + 1}}</td>
                                    <td>{{row.Amount}}</td>
                                    <td>{{row.Category | camelCaseToNormal}}</td>
                                    <td>{{row.Date | date}}</td>
                                    <td class="text-right">
                                        <a class="link details-link" href="{{urls.details}}/{{row.TransactionId}}" title="Details"><i class="glyphicon glyphicon-zoom-in"></i></a>                                        
                                        <a class="link edit-link" href="{{urls.edit}}/{{row.TransactionId}}" title="Edit"><i class="glyphicon glyphicon-pencil"></i></a>
                                        <a class="link delete-link" href="{{urls.del}}/{{row.TransactionId}}" title="Delete">
                                            <i class="glyphicon glyphicon-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>


                </div>

            </div>
        </div>
    }


</div>

<script>

    (function() {
        'use strict';

        angular.module('budgetApp').factory('transactionModel', function() {

            return {
                model: @Html.Raw(Model.ToJson()),
                urls: {
                    del: '@Url.Action("Delete")',
                    edit: '@Url.Action("Edit")',
                    details: '@Url.Action("Details")'
                }
            };

        });

    })();

</script>