@using System.Activities.Statements
@using BudgetApp.Extensions
@using BudgetApp.Models
@using Microsoft.Ajax.Utilities
@model TransactionsViewModel

@{
    ViewBag.Title = "Transactions";
}



<div class="row" style="margin-top: 30px;" ng-controller="transactionController">


    <div class="col-xs-12" fade-in="200">
        @using (Html.BeginForm("Index", "Transactions", FormMethod.Post))
        {

            <div class="row" style="margin-top: 30px;">
                <div class="col-xs-12 col-md-6 btn-paging">
                    @if (Model.TotalPages > 1)
                    {

                        <div class="btn-group" role="group">

                            @if (Model.CurrentPage != 1)
                            {
                                <button type="button" set-page="@(Model.CurrentPage -1)" class="btn btn-default" style="margin-right:5px;padding: 6px 4px;">
                                    <i class="glyphicon glyphicon-chevron-left"></i>
                                </button>
                            }

                            @{
                            var startPage = (Model.CurrentPage < 5) ? 1 : Model.CurrentPage - 2;
                            var endPage = 4 + startPage;
                            endPage = (Model.TotalPages < endPage) ? Model.TotalPages : endPage;

                            var diff = startPage - endPage + 4;

                            startPage -= (startPage - diff > 0) ? diff : 0;

                            if (startPage > 1)
                            {
                                <button type="button" set-page="1" class="btn btn-default @(1 == Model.CurrentPage ? "active" : "")">
                                    1
                                </button>
                            }

                            if (Model.CurrentPage > 4 && Model.TotalPages > 6)
                            {
                                <button type="button" class="btn btn-default">
                                    ...
                                </button>
                            }

                            for (var i = startPage; i <= endPage; i++)
                            {
                                <button type="button" set-page="@i" class="btn btn-default @(i == Model.CurrentPage ? "active" : "")">
                                    @i
                                </button>
                            }

                            if (Model.CurrentPage <= (Model.TotalPages - 4) && Model.TotalPages > 6)
                            {
                                <button type="button" class="btn btn-default">
                                    ...
                                </button>
                            }

                            if (endPage < Model.TotalPages)
                            {
                                <button type="button" set-page="@Model.TotalPages" class="btn btn-default @(Model.TotalPages == Model.CurrentPage ? "active" : "")">
                                    @Model.TotalPages
                                </button>
                            }

                            }

                            @if (Model.CurrentPage != Model.TotalPages)
                            {
                                <button type="button" set-page="@(Model.CurrentPage + 1)" class="btn btn-default" style="margin-left:5px;padding: 6px 4px;">
                                    <i class="glyphicon glyphicon-chevron-right"></i>
                                </button>
                            }

                        </div>
                    }
                </div>



                <div class="col-xs-12 col-md-6 text-right btn-range">

                    @if (Model.RangeViewers.Any()) { 

                    @Html.HiddenFor(s => s.Range)
                    @Html.HiddenFor(s => s.CurrentPage)

                    <div class="btn-group" role="group">

                        <button type="button" set-range="@Range.Annual" class="btn btn-default @(Model.Range == Range.Annual ? "active":"")">
                            Annual
                        </button>
                        <button type="button" set-range="@Range.Month" class="btn btn-default @(Model.Range == Range.Month ? "active":"")">
                            Monthly
                        </button>
                        <button type="button" set-range="@Range.Week" class="btn btn-default @(Model.Range == Range.Week ? "active":"")">
                            Weekly
                        </button>
                    </div>

                    <input type="submit" id="submitBtn" class="hidden" />
                    }
                </div>


            </div>
        }


        @if (!Model.RangeViewers.Any())
        {

            <div class="jumbotron" fade-in="100" style="margin-top:-50px;">

                <div id="icon" style="width: 30%;">
                    <object>
                        <img src="~/Content/images/logo_pig.svg" id="svg" />
                    </object>
                </div>

                <h3 class="text-center" style="margin-top: -40px;">No transactions registered</h3>

            </div>


        }
        else
        {

            <div class="row" style="margin-top: 20px;">

                <div class="col-xs-12">

                    <span id="big" style="height:350px;width:1123px !important;" class="visible-lg" data-overview-highchart="{{overviewGraph}}" data-range="@Model.Range" data-total-income="@Model.TotalIncome" data-total-expenses="@Model.TotalExpenses" data-currency="@Model.Currency"></span>

                    <span id="medium" style="height:350px;width:923px !important;" class="visible-md" data-overview-highchart="{{overviewGraph}}" data-range="@Model.Range" data-total-income="@Model.TotalIncome" data-total-expenses="@Model.TotalExpenses" data-currency="@Model.Currency"></span>

                    <span id="small" style="height:350px;width:703px !important;" class="visible-sm" data-overview-highchart="{{overviewGraph}}" data-range="@Model.Range" data-total-income="@Model.TotalIncome" data-total-expenses="@Model.TotalExpenses" data-currency="@Model.Currency"></span>

                </div>

                <div class="col-xs-12 visible-xs" style="padding:2px;">
                    
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th ng-hide="filter === 0">{{filter === 1 ? 'Month': 'Week'}}</th>
                                <th>Year</th>
                                <th class="text-right">Income</th>
                                <th class="text-right">Expenses</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="range in model">
                                <td ng-hide="filter === 0">{{filter === 1 ? (range.title | monthName) : range.title }}</td>
                                <td>{{range.year}}</td>
                                <td class="text-right green">{{range.totalIncome | currencyFormatter}}</td>
                                <td class="text-right red">{{range.totalExpenses | currencyFormatter}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>


                <div class="col-xs-12" style="margin-top:10px;" ng-repeat="range in model" ng-show="rangeElem === $index">


                    <div class="panel panel-default">

                        <hr />

                        <div class="panel-body">

                            <div class="row">

                                <div class="col-xs-12 text-center">
                                    <h2 style="margin-top: -7px;">
                                        {{range.startDate | date : 'dd.MM.yyyy'}} - {{range.endDate | date: 'dd.MM.yyyy'}}
                                    </h2>

                                </div>

                            </div>

                            <div class="row" style="margin-top: 13px;">

                                <div class="col-xs-12 hidden-xs">

                                    <span style="height:350px;width:1123px !important;" class="visible-lg" data-highchart="{{range.graph}}" data-index="{{$index}}"></span>

                                    <span style="height:350px;width:923px !important;" class="visible-md" data-highchart="{{range.graph}}" data-index="{{$index}}"></span>

                                    <span style="height:350px;width:703px !important;" class="visible-sm" data-highchart="{{range.graph}}" data-index="{{$index}}"></span>

                                </div>


                            </div>
                        </div>
                        <table class="table table-condensed table-same-width table-hover" style="margin-top: 18px;">
                            <thead>
                                <tr>
                                    <th colspan="7">
                                        <input type="text" value="" class="form-control" placeholder="Search" ng-model="querystring[$index]" />
                                        <span class="btn-remove" ng-show="querystring[$index] !== undefined" ng-click="querystring[$index] = undefined"><i class="glyphicon glyphicon-remove"></i></span>
                                    </th>
                                </tr>
                                <tr>
                                    <th class="hidden-xs">#</th>
                                    <th class="hidden"></th>
                                    <th class="hidden"></th>
                                    <th sortable-table-header="amount">Amount (@Model.Currency)</th>
                                    <th sortable-table-header="category">Category</th>
                                    <th sortable-table-header="description" class="hidden-xs hidden-sm">Description</th>
                                    <th sortable-table-header="date" class="hidden-xs hidden-md hidden-sm">Date</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in range.transactions | orderBy:predicate:reverse | filter: querystring[$index] | startFrom:(currentPage - 1)*numPerPage | limitTo:numPerPage">
                                    <td class="hidden-xs">

                                        <span class="percentage-row" ng-show="row.category !== 'Salary' && row.category !== 'OtherIncome'">
                                            <svg set-width="{{calcRowPercentage(row.amount, findMax(range.transactions))}}" height="30">
                                                <rect set-width="{{calcRowPercentage(row.amount, findMax(range.transactions))}}" height="30" style="stroke-width:0;fill:{{row.color}};opacity:0.2" />
                                            </svg>
                                        </span>

                                        {{(currentPage-1)*numPerPage + ($index+1)}}
                                    </td>
                                    <td class="hidden">{{row.mainCategory}}</td>
                                    <td class="hidden">{{row.categoryText}}</td>
                                    <td>{{row.amount | currencyFormatter}}</td>
                                    <td style="text-align:left;padding-left: 20px;">
                                        <img class="hidden-xs hidden-sm" style="position: absolute;" height="20" ng-src="{{getIcon(row.category)}}" alt="{{row.category}}" />
                                        <span style="padding-left: 30px;">{{row.category | camelCaseToNormal}}</span>
                                    </td>
                                    <td class="hidden-xs hidden-sm" style="text-align: left" title="{{row.description}}">{{row.description | maxLength : 25}}</td>
                                    <td class="hidden-md hidden-xs hidden-sm">{{row.date | date}}</td>
                                    <td class="text-right">
                                        <a class="link edit-link" href="{{urls.edit}}/{{row.transactionId}}" title="Edit"><i class="glyphicon glyphicon-pencil"></i></a>
                                        <a class="link delete-link" href="{{urls.del}}/{{row.transactionId}}" title="Delete">
                                            <i class="glyphicon glyphicon-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        
                        <div ng-show="(range.transactions | filter: querystring[$index]).length > numPerPage" pagination data-items-per-page="numPerPage" total-items="(range.transactions | filter: querystring[$index] ).length" ng-model="currentPage" max-size="maxSize" boundary-links="true" rotate="false"></div>
                    </div>


                </div>

            </div>

        }
    </div>

</div>

<script>

    (function() {
        'use strict';

        angular.module('budgetApp').factory('transactionModel', function() {

            return {
                filter : @Html.Raw(Model.Range.ToJson()),
                model: @Html.Raw(Model.RangeViewers.ToJson()),
                overview : @Html.Raw(Model.OverviewGraph),
                urls: {
                    del: '@Url.Action("Delete")',
                    edit: '@Url.Action("Edit")',
                    details: '@Url.Action("Details")'
                }
            };

        });

    })();

</script>