@using BudgetApp.Extensions
@using BudgetApp.Models
@model TransactionsViewModel

@{
    ViewBag.Title = "Transactions";
}



<div style="margin-top: 30px;" ng-controller="transactionController">


    <div fade-in="200">
        @using (Html.BeginForm("Index", "Transactions", FormMethod.Post))
        {
            <div class="row">
                <div class="col-xs-12 col-md-3">
                    <a href="@Url.Action("Create")" class="btn btn-default text-center" title="Add transaction" style="min-width: 67px;">
                        Add
                    </a>
                    <a href="@Url.Action("Upload")" class="btn btn-default text-center" title="Import transactions" style="min-width: 67px;">
                        Import
                    </a>

                </div>

                <div class="col-xs-12 col-md-9 text-right">
                                                                                
                    @Html.HiddenFor(s => s.Range, new { @class = "transaction-filter" })                    

                    <div class="btn-group" role="group">
                                                

                        <button type="button" set-range="@Range.Annual" class="btn btn-default @(Model.Range == Range.Annual ? "active":"")">
                            Annual
                        </button>
                        <button type="button" set-range="@Range.Month" class="btn btn-default @(Model.Range == Range.Month ? "active":"")">
                            Monthly
                        </button>
                        <button type="button" set-range="@Range.Week" class="btn btn-default @(Model.Range == Range.Week ? "active":"")">
                            Weekly
                        </button>
                    </div>
                    
                    <input type="submit" id="submitBtn" class="hidden" />

                </div>


            </div>
        }


        @if (!Model.RangeViewers.Any())
        {

            <div class="jumbotron" fade-in="100" style="margin-top:30px;">

                <div id="icon" style="width: 30%;">
                    <object>
                        <img src="~/Content/images/logo_pig.svg" id="svg" />
                    </object>
                </div>

                <h3 class="text-center" style="margin-top: -40px;">No transactions registered</h3>

            </div>


        }
        else
        {

            <div class="row">
                <div class="col-xs-12" style="margin-top:30px;" ng-repeat="range in model">


                    <div class="panel panel-default">

                        <div class="panel-body">

                            <div class="row">
                                
                                <div class="col-xs-4">
                                    <span class="label label-big label-muted hide-xs" ng-show="range.year != range.title">
                                        {{range.year }}
                                    </span>
                                    
                                    <span class="label label-big label-muted" ng-show="filter === 2">
                                        {{range.startDate | monthName2 }}
                                    </span>

                                    <span class="label label-primary label-big">
                                        {{range.title @(Model.RangeViewers[0].Range == Range.Month ? "| monthName" : "") }}
                                    </span>

                                </div>

                                <div class="col-xs-4 text-center hidden-xs">
                                    <span class="text-muted">
                                        {{range.startDate | date : 'dd.MM.yyyy'}} - {{range.endDate | date: 'dd.MM.yyyy'}}
                                    </span>
                                                                        
                                </div>
                                
                                <div class="col-xs-4 text-center visible-xs">
                                    <span class="label label-success" title="Income">{{range.totalIncome.toFixed(1)}}</span>
                                    <span class="label label-danger" title="Expenses">{{range.totalExpenses.toFixed(1)}}</span>
                                </div>

                                <div class="col-xs-4 text-right">                                                                       
                                    
                                    <span ng-model="showBalance.$index" ng-click="showBalance.$index = !showBalance.$index" style="min-height: 34px;" class="hide-xs toggle-transactions {{showBalance.$index ? 'active':''}}"> Balance</span>

                                    <span class="toggle-transactions {{range.$index ? 'active':''}}" ng-click="range.$index = !range.$index">
                                        <i class="glyphicon glyphicon-zoom-in" ng-hide="range.$index"></i>
                                        <i class="glyphicon glyphicon-zoom-out" ng-show="range.$index"></i>
                                        {{range.transactions.length}}
                                    </span>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-xs-12 placeholder hidden-xs" ng-hide="showBalance.$index">

                                    <span style="height:350px;width:1123px !important;" class="visible-lg" data-highchart="{{range.graph}}"></span>

                                    <span style="height:350px;width:923px !important;" class="visible-md" data-highchart="{{range.graph}}"></span>

                                    <span style="height:350px;width:703px !important;" class="visible-sm" data-highchart="{{range.graph}}"></span>

                                </div>
                                
                                <div class="col-xs-12 placeholder hidden-xs" ng-show="showBalance.$index">

                                    <span style="height:350px;width:1123px !important;" class="visible-lg" data-gauge data-income="{{range.totalIncome}}" data-expense="{{range.totalExpenses}}"></span>

                                    <span style="height:350px;width:923px !important;" class="visible-md" data-gauge data-income="{{range.totalIncome}}" data-expense="{{range.totalExpenses}}"></span>

                                    <span style="height:350px;width:703px !important;" class="visible-sm" data-gauge data-income="{{range.totalIncome}}" data-expense="{{range.totalExpenses}}"></span>

                                </div>
                            </div>
                            <div class="row hidden-xs" style="margin-bottom: -36px;">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" style="{{calcPercentage(range.totalIncome, range.totalExpenses)}}">
                                        <span>{{range.totalIncome.toFixed(1)}}</span>
                                    </div>
                                    <div class="progress-bar progress-bar-danger" style="{{calcPercentage(range.totalExpenses, range.totalIncome)}}">
                                        <span>{{range.totalExpenses.toFixed(1)}}</span>
                                    </div>
                                </div>
                                <div class="balance"></div>
                            </div>
                        </div>
                        <table class="table table-condensed table-same-width table-hover" ng-show="range.$index" style="margin-top: 18px;">
                            <thead>
                                <tr>
                                    <th class="hidden-xs">#</th>
                                    <th>Amount</th>
                                    <th>Category</th>
                                    <th>Date</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in range.transactions">
                                    <td class="hidden-xs">{{$index + 1}}</td>
                                    <td>{{row.amount}}</td>
                                    <td>{{row.category | camelCaseToNormal}}</td>
                                    <td>{{row.date | date}}</td>
                                    <td class="text-right">
                                        <a class="link details-link" href="{{urls.details}}/{{row.transactionId}}" title="Details"><i class="glyphicon glyphicon-zoom-in"></i></a>
                                        <a class="link edit-link" href="{{urls.edit}}/{{row.transactionId}}" title="Edit"><i class="glyphicon glyphicon-pencil"></i></a>
                                        <a class="link delete-link" href="{{urls.del}}/{{row.transactionId}}" title="Delete">
                                            <i class="glyphicon glyphicon-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>


                </div>

            </div>

        }
    </div>
    
    <div class="row">
        <div class="col-xs-12">Icons made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
    </div>

</div>

<script>

    (function() {
        'use strict';

        angular.module('budgetApp').factory('transactionModel', function() {

            return {
                filter : @Html.Raw(Model.Range.ToJson()),
                model: @Html.Raw(Model.RangeViewers.ToJson()),
                urls: {
                    del: '@Url.Action("Delete")',
                    edit: '@Url.Action("Edit")',
                    details: '@Url.Action("Details")'
                }
            };

        });

    })();

</script>