@using BudgetApp.Controllers
@using BudgetApp.Extensions
@using Microsoft.Ajax.Utilities
@model ReportController.ReportViewModel

@{
    ViewBag.Title = "Download";
}

<div ng-controller="reportController">

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">

        @using (Html.BeginForm("DownloadExcelFile", "Report", FormMethod.Post, new { @name = "chartForm" }))
        {


            <div class="form-group">
                <label for="From">From</label>
                <p class="input-group">
                    <input type="text" name="FromDate" id="FromDate" class="form-control" datepicker-popup="{{format}}" max-date="chartModel.toDate" ng-model="chartModel.fromDate" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                    <span class="input-group-btn" style="width:0;padding:0px !important;">
                        <button type="button" class="btn btn-default" ng-click="open($event)" style="padding-bottom: 7px;"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>

            <div class="form-group">
                <label for="To">To</label>
                <p class="input-group">
                    <input type="text" name="ToDate" id="ToDate" class="form-control" datepicker-popup="{{format}}" ng-model="chartModel.toDate" is-open="opened2" min-date="chartModel.fromDate" max-date="today" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                    <span class="input-group-btn" style="width:0;padding:0px !important;">
                        <button type="button" class="btn btn-default" ng-click="open2($event)" style="padding-bottom: 7px;"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>

            <div class="form-group" ng-show="selected !== 'tables' && selected !== 'search'">
                <label for="exampleInputPassword1">Choose chart</label>
                <ul class="list-unstyled">
                    @foreach (var chart in Model.Charts)
                    {
                        <li>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="Name" id="Name" ng-model="chartModel.name" value="@chart" />
                                    @chart.Replace('_', ' ')
                                </label>
                            </div>
                        </li>
                    }
                </ul>

            </div>

            <div class="form-group">
                <label for="Categories">Categories</label>
                <ul class="list-unstyled list-inline">

                    @Html.DropDownListFor(s => s.Categories, new SelectList(Model.Categories.Select(x => new { Value = x, Text = CategoryExt.CamelCaseToNormal(x) }), "Value", "Text"), new { @multiple = "multiple", @ng_model = "chartModel.categories", @class = "form-control", @style = "height:200px;" })

                </ul>
            </div>

            <div class="form-group" ng-show="selected === 'tables'">
                <label for="sheetsby">Sheets by</label>
                <div class="radio">
                    <label>
                        <input type="radio" name="ByYear" id="ByYear" ng-model="chartModel.byYear" value="true" checked="checked" />
                        Year
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="ByYear" id="ByYear" ng-model="chartModel.byYear" value="false" />
                        Category
                    </label>
                </div>
            </div>

            <div class="form-group" ng-show="(chartModel.name === '@ReportController.SPC' || chartModel.name === '@ReportController.BoxPlot') && selected === 'charts'">
                <label for="Range">Range</label>
                <select name="Range" ng-model="chartModel.range" class="form-control">
                    <option value="0">Daily</option>
                    <option value="1">Weekly</option>
                    <option value="2">Monthly</option>
                </select>
            </div>
            <div class="form-group" ng-show="chartModel.name === '@ReportController.Drilldown' && selected === 'charts'">
                <label for="Charttype">Chart type</label>
                <select name="ChartType" ng-model="chartModel.chartType" class="form-control">
                    <option value="column">Column</option>
                    <option value="pie">Pie</option>
                </select>
            </div>

            <button type="submit" ng-show="selected === 'charts'" ng-disabled="chartForm.$invalid || chartModel.categories.length === 0" class="btn btn-primary" data-get-chart-view>Generate chart</button>

            <button type="submit" ng-show="selected === 'tables'" ng-disabled="chartModel.categories.length === 0" class="btn btn-primary" type="submit">
                Download Excel file
            </button>

        }

    </div>
    <div class="col-xs-12 col-sm-6 col-md-8 col-lg-9" ng-show="selected === 'charts'">

        <div id="chartView"></div>

    </div>
</div>
<script src="~/bower_components/highstock-release/modules/exporting.js"></script>
<script src="~/js/directives/ReportDirectives.js"></script>
<script>
    (function() {
        'use strict';

        angular.module('budgetApp').factory('reportFactory', function() {
            return {
                model:@Html.Raw(Model.ToJson()),
                urls: {
                    del: '@Url.Action("Delete", "Transactions")',
                    edit: '@Url.Action("Edit", "Transactions")'
                }
            };
        });

    })();
</script>