@using BudgetApp.Extensions
@model BudgetApp.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", @name = "registerform" }))
{
    @Html.AntiForgeryToken()

    <div class="row" style="margin-top: -70px;" ng-controller="loginController">       

        <div class="col-md-12 text-center">
            
            <div id="icon" data-logo="18" style="width:40%;min-width: 220px;">
                <object>
                    <img src="~/Content/images/logo.svg" id="svg" />
                </object>
            </div>

        </div>
        <div data-slide-down data-prevent="@Html.ViewData.ModelState.IsValid" class="col-md-12">
            <h4 class="text-center">You've successfully authenticated with <strong>@ViewBag.LoginProvider</strong></h4>

            <div class="row text-center" style="max-width: 300px; margin-left: auto;margin-right: auto;">

                <div class="col-xs-10" style="padding:10px;">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email", @ng_model = "model.Email", @required = "required", @type = "email" })
                </div>
                <div class="col-xs-2">
                    <label class="control-label col-xs-12 label-validator text-danger" ng-show="registerform.Email.$invalid && registerform.Email.$touched && model.Email !== null && !loading"></label>
                    <label class="control-label col-xs-12 label-validator user-exist" ng-show="userExist === 'True' && registerform.Email.$valid"></label>
                    <label class="control-label col-xs-12 label-validator text-success" ng-show="registerform.Email.$valid && !loading && userExist === 'False'"></label>
                    <label class="control-label col-xs-12 label-validator text-info" ng-show="loading"></label>
                </div>
            </div>

            <div class="row text-center" style="max-width: 300px; margin-left: auto;margin-right: auto;">

                <div class="col-xs-10" style="padding:10px;">
                    <select class="form-control center" id="Country" name="Country" ng-model="model.Country" required>
                        <option class="text-muted" value="">-- Country --</option>
                        <option ng-repeat="country in countries" value="{{country.name}}">{{country.name}}</option>
                    </select>
                </div>
                <div class="col-xs-2">
                    <label class="control-label col-xs-12 label-validator text-danger" ng-show="registerform.Country.$invalid && registerform.Country.$dirty"></label>
                    <label class="control-label col-xs-12 label-validator text-success" ng-show="registerform.Country.$valid"></label>
                </div>
            </div>

            <div class="row text-center" style="max-width: 300px; margin-left: auto;margin-right: auto;">

                <div class="col-xs-10" style="padding:10px;">
                    <select class="form-control center" id="Currency" name="Currency" ng-model="model.Currency" required>
                        <option class="text-muted" value="">-- Currency --</option>
                        <option ng-repeat="currency in currencies" value="{{currency.cc}}" title="{{currency.name}}">{{currency.cc}}</option>
                    </select>
                </div>
                <div class="col-xs-2">
                    <label class="control-label col-xs-12 label-validator text-danger" ng-show="registerform.Currency.$invalid && registerform.Currency.$dirty"></label>
                    <label class="control-label col-xs-12 label-validator text-success" ng-show="registerform.Currency.$valid"></label>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-12 text-center">
                    <input type="submit" ng-disabled="registerform.$invalid || userExist === 'True' || loading" class="btn btn-primary" value="Register" />
                    @Html.ActionLink("Cancel", "Login", "Account", new { @class = "btn btn-link" })
                </div>
            </div>

        </div>

    </div>

}



@Html.Partial("_LoginModel", Html.Raw(Model.ToJson()))