@using BudgetApp.Extensions
@using BudgetApp.Models
@model LoginViewModel
@{
   ViewBag.Title = "Log in";
}

<div class="row" ng-controller="toastrController"></div>

<div class="row" ng-controller="loginController" style="margin-top: -10px;">

    <div class="col-md-12 text-center" style="margin-bottom: 20px;">
        
        <div id="icon" data-logo="40" style="width:@(Html.ViewData.ModelState.IsValid ? "10%":"40%");max-width: 280px;min-width:100px;">
            <object>
                <img src="../../Content/images/logo.svg" id="svg" />
            </object>
        </div>

    </div>

    <div data-slide-down data-prevent="@Html.ViewData.ModelState.IsValid" class="col-md-12 text-center">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", @name = "loginForm", @id = "loginForm" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-group input-box">
                    <div class="col-md-12">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control center", @placeholder = "Email", @required="required", @ng_model="model.Email" })
                    </div>
                </div>
                <div class="form-group input-box">
                    <div class="col-md-12">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control center", @placeholder = "Password", @required = "required", @ng_model = "model.Password" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 center" style="width: 280px;padding:0;">

                        @Html.ActionLink("Forgot your password?", "ForgotPassword", null, new { @class = "btn btn-link", @style = "float:left;padding-left:0;" })

                        <input type="submit" value="Log in" style="float:right;" class="btn btn-primary" ng-disabled="loginForm.$invalid" />

                    </div>
                </div>

            }
            
            <span class="text-muted">Log in with:</span>
            <br />
            <br />

            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })

            <span style="margin-top: 50px;">
                @Html.ActionLink("Register", "Register") if you don't have an account.
            </span>

        </section>
    </div>
</div>

@if (!Html.ViewData.ModelState.IsValid)
{
    <script>
        (function () {

            $('.notification-warnings').velocity("transition.slideUpIn", 1250);

            $('.input-box').velocity('callout.shake');

        })();
    </script>
}

@Html.Partial("_LoginModel", Html.Raw(Model.ToJson()))