@using Microsoft.Owin.Security
@model BudgetApp.Models.ManageLoginsViewModel
    

<div class="col-xs-12" style="padding:0;display: inline-block;max-width:156px;">

        
        @if (Model.CurrentLogins.Count > 0)
        {

            foreach (var account in Model.CurrentLogins)
            {

                using (Html.BeginForm("RemoveLogin", "Manage"))
                {
                    @Html.AntiForgeryToken()
                    <div class="col-xs-4" style="padding: 0; min-width: 48px;">
                        @Html.Hidden("loginProvider", account.LoginProvider)
                        @Html.Hidden("providerKey", account.ProviderKey)
                        <button type="submit" class="btn btn-empty" title="Remove this @account.LoginProvider login from your account">
                            <img height="48" ng-src="{{getIcon('@account.LoginProvider')}}">
                        </button>
                    </div>
                }
            }

        }
        
        @if (Model.OtherLogins.Count > 0)
        {

            using (Html.BeginForm("LinkLogin", "Manage"))
            {
                @Html.AntiForgeryToken()
                foreach (AuthenticationDescription p in Model.OtherLogins)
                {
                    <div class="col-xs-4" style="padding: 0; min-width: 48px;">

                        <button type="submit" class="btn btn-empty" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account"><img style="-ms-opacity: 0.1; opacity: 0.1" height="48" ng-src="{{getIcon('@p.AuthenticationType')}}" /></button>

                    </div>
                }
            }
        }
</div>

