@model BudgetApp.Models.IndexViewModel
@{
   ViewBag.Title = "Manage";
}

<p class="text-success">@ViewBag.StatusMessage</p>

<div class="row" fade-in="500">
    <div class="col-xs-12 col-md-3 text-center">
        <img gravatar-src="'@User.Identity.Name'" gravatar-size="200">
        <h4>@User.Identity.Name</h4>
    </div>
            
    <div class="col-xs-12 col-md-3 text-center">
        <div class="square">
            <h4>Password </h4>
            <div class="square-link">
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Change your password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-3 text-center">
        <div class="square">
            <h4>External logins</h4>
            <div class="square-link">
                @Model.Logins.Count [
                @Html.ActionLink("Manage", "ManageLogins") ]
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-3 text-center">
        <div class="square">
            <h4>Two-factor authentication</h4>
            <div class="square-link">
                @if (Model.TwoFactor)
                {
                    using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Enabled
                            <input type="submit" value="Disable" class="btn btn-link" />
                        </text>
                    }
                }
                else
                {
                    using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Disabled
                            <input type="submit" value="Enable" class="btn btn-link" />
                        </text>
                    }
                }
            </div>
        </div>
    </div>


    
</div>
